

   /* @import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');


@font-face {
    font-family: 'woff';
    src: url(./Blue\ party\ woff.png); 
}  */

html{
    font-size: 10px;
}

body{
    font-family: 'woff';
}

h1{
    background-color: aqua;
}
.heading{
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 150px;
    font-size: 7rem; 
    text-decoration: line-through;
}

.parent{
    font-size: 2rem;
}
.child{
    font-size: 100%;
}

a{
    text-decoration:none ;
}