body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /* background-color: #f7f7f7; */
    background-color: #4158A6;

}

#start-btn{
    color: #007bff;
    cursor: pointer;
}



#quiz-container {
    width: 450px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

.hidden {
    display: none;
}

#quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#timer-box {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

#quiz-body {
    margin: 20px 0;
}

#options-container button {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#options-container button.correct {
    background-color: #4CAF50;
}

#options-container button.wrong {
    background-color: #f44336;
}

#quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.left {
    text-align: left;
    font-weight: bold;
}

.right {
    text-align: right;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#score-screen h2 {
    margin-bottom: 20px;
}

#exit-btn{
    background-color: #c4180c;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-left: 250px;
    font-weight: bold;
}

#continue-btn{
    background-color: #1ed024;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-weight: bold;

}


#restart-btn{
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
    font-weight: bold;

}

li{
    text-align: left;
    line-height: 20px;
}